@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}
<div id="main-container">
		<div id="main" class="wrapper clearfix">
			<div class="slider-wrapper theme-default">
            	<div id="slider" class="nivoSlider">
                @{
                    var page = Umbraco.Media(1054);
                    }
            
				@foreach (var image in page.Children)
				{ 
					<img src="@image.Url" />
				}
                </div>
			</div>
			<article>
				@Umbraco.Field("pageContent")
				
			</article>
			
			<aside>
				@Umbraco.Field("sidebar")
			</aside>
			
		</div> <!-- #main -->
	</div> <!-- #main-container -->